<html lang="en">
<body>

    <h1>Model API</hjson>

<div>
    <p>You will need the following variables:</p>

    <form action="/turnover_predict" method="post">
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age"><br>
    <label for="numberPriorJobs">Number of Prior Jobs:</label><br>
    <input type="text" id="numberPriorJobs" name="numberPriorJobs"><br>
    <label for="proportion401K">Proportion of 401K:</label><br>
    <input type="text" id="proportion401K" name="proportion401K"><br>
    <label for="startingSalary">Starting Salary:</label><br>
    <input type="text" id="startingSalary" name="startingSalary"><br>
    <label for="currentSalary">Current Salary:</label><br>
    <input type="text" id="currentSalary" name="currentSalary"><br>
    <label for="performance">Performance:</label><br>
    <input type="text" id="performance" name="performance"><br>
    <label for="monthsToSeparate">Months to Separate:</label><br>
    <input type="text" id="monthsToSeparate" name="monthsToSeparate"><br>
    <label for="workDistance">Work Distance:</label><br>
    <input type="text" id="workDistance" name="workDistance"><br>
    <label for="department_1">Department 1:</label><br>
    <input type="text" id="department_1" name="department_1"><br>
    <label for="department_2">Department 2:</label><br>
    <input type="text" id="department_2" name="department_2"><br>
    <label for="department_3">Department 3:</label><br>
    <input type="text" id="department_3" name="department_3"><br>
    <input type="submit" value="Submit">
</form>

</div>

</body>

</html>